body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1609px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:1262px;
}
#u742 {
  position:absolute;
  left:120px;
  top:-120px;
  width:1022px;
  height:1262px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u743 {
  position:absolute;
  left:2px;
  top:623px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:718px;
}
#u744 {
  position:absolute;
  left:114px;
  top:118px;
  width:1026px;
  height:718px;
}
#u745 {
  position:absolute;
  left:2px;
  top:351px;
  width:1022px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:71px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u746 {
  position:absolute;
  left:116px;
  top:826px;
  width:1022px;
  height:71px;
}
#u747 {
  position:absolute;
  left:2px;
  top:28px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u748 {
  position:absolute;
  left:428px;
  top:842px;
  width:140px;
  height:40px;
}
#u749 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u750 {
  position:absolute;
  left:653px;
  top:842px;
  width:140px;
  height:40px;
}
#u751 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:112px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u752 {
  position:absolute;
  left:116px;
  top:1102px;
  width:187px;
  height:112px;
  font-size:20px;
}
#u753 {
  position:absolute;
  left:2px;
  top:44px;
  width:183px;
  word-wrap:break-word;
}
#u754 {
  position:absolute;
  left:210px;
  top:824px;
  width:0px;
  height:0px;
}
#u754_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:282px;
}
#u754_seg1 {
  position:absolute;
  left:-10px;
  top:265px;
  width:20px;
  height:20px;
}
#u755 {
  position:absolute;
  left:-50px;
  top:131px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:112px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u756 {
  position:absolute;
  left:951px;
  top:1102px;
  width:187px;
  height:112px;
  font-size:20px;
}
#u757 {
  position:absolute;
  left:2px;
  top:44px;
  width:183px;
  word-wrap:break-word;
}
#u758 {
  position:absolute;
  left:1042px;
  top:822px;
  width:0px;
  height:0px;
}
#u758_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:7px;
  height:8px;
}
#u758_seg1 {
  position:absolute;
  left:-1px;
  top:-4px;
  width:8px;
  height:284px;
}
#u758_seg2 {
  position:absolute;
  left:-7px;
  top:267px;
  width:20px;
  height:20px;
}
#u759 {
  position:absolute;
  left:-47px;
  top:130px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:112px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u760 {
  position:absolute;
  left:1422px;
  top:148px;
  width:187px;
  height:112px;
  font-size:20px;
}
#u761 {
  position:absolute;
  left:2px;
  top:44px;
  width:183px;
  word-wrap:break-word;
}
#u762 {
  position:absolute;
  left:1094px;
  top:204px;
  width:0px;
  height:0px;
}
#u762_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:332px;
  height:8px;
}
#u762_seg1 {
  position:absolute;
  left:315px;
  top:-10px;
  width:20px;
  height:20px;
}
#u763 {
  position:absolute;
  left:114px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
