body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1946px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:1262px;
}
#u41 {
  position:absolute;
  left:120px;
  top:-120px;
  width:1022px;
  height:1262px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u42 {
  position:absolute;
  left:2px;
  top:623px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1029px;
  height:75px;
  background:inherit;
  background-color:rgba(105, 147, 223, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  position:absolute;
  left:113px;
  top:126px;
  width:1029px;
  height:75px;
}
#u44 {
  position:absolute;
  left:2px;
  top:30px;
  width:1025px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:54px;
}
#u45 {
  position:absolute;
  left:160px;
  top:138px;
  width:50px;
  height:54px;
}
#u46 {
  position:absolute;
  left:2px;
  top:19px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u47 {
  position:absolute;
  left:240px;
  top:149px;
  width:57px;
  height:33px;
  font-size:28px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:126px;
}
#u49 {
  position:absolute;
  left:160px;
  top:278px;
  width:153px;
  height:126px;
}
#u50 {
  position:absolute;
  left:2px;
  top:55px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:125px;
}
#u51 {
  position:absolute;
  left:160px;
  top:482px;
  width:153px;
  height:125px;
}
#u52 {
  position:absolute;
  left:2px;
  top:54px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u53 {
  position:absolute;
  left:160px;
  top:617px;
  width:153px;
  height:62px;
  font-size:20px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:125px;
}
#u55 {
  position:absolute;
  left:160px;
  top:687px;
  width:153px;
  height:125px;
}
#u56 {
  position:absolute;
  left:2px;
  top:54px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u57 {
  position:absolute;
  left:160px;
  top:822px;
  width:153px;
  height:62px;
  font-size:20px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:125px;
}
#u59 {
  position:absolute;
  left:398px;
  top:275px;
  width:153px;
  height:125px;
}
#u60 {
  position:absolute;
  left:2px;
  top:54px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u61 {
  position:absolute;
  left:398px;
  top:410px;
  width:153px;
  height:62px;
  font-size:20px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:125px;
}
#u63 {
  position:absolute;
  left:398px;
  top:482px;
  width:153px;
  height:125px;
}
#u64 {
  position:absolute;
  left:2px;
  top:54px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u65 {
  position:absolute;
  left:398px;
  top:617px;
  width:153px;
  height:62px;
  font-size:20px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:125px;
}
#u67 {
  position:absolute;
  left:398px;
  top:687px;
  width:153px;
  height:125px;
}
#u68 {
  position:absolute;
  left:2px;
  top:54px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u69 {
  position:absolute;
  left:398px;
  top:822px;
  width:153px;
  height:62px;
  font-size:20px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u71 {
  position:absolute;
  left:794px;
  top:142px;
  width:320px;
  height:44px;
}
#u72 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:125px;
}
#u73 {
  position:absolute;
  left:652px;
  top:275px;
  width:153px;
  height:125px;
}
#u74 {
  position:absolute;
  left:2px;
  top:54px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u75 {
  position:absolute;
  left:652px;
  top:410px;
  width:153px;
  height:62px;
  font-size:20px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:125px;
}
#u77 {
  position:absolute;
  left:652px;
  top:482px;
  width:153px;
  height:125px;
}
#u78 {
  position:absolute;
  left:2px;
  top:54px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u79 {
  position:absolute;
  left:652px;
  top:617px;
  width:153px;
  height:62px;
  font-size:20px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:125px;
}
#u81 {
  position:absolute;
  left:652px;
  top:687px;
  width:153px;
  height:125px;
}
#u82 {
  position:absolute;
  left:2px;
  top:54px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u83 {
  position:absolute;
  left:652px;
  top:822px;
  width:153px;
  height:62px;
  font-size:20px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:125px;
}
#u85 {
  position:absolute;
  left:900px;
  top:275px;
  width:153px;
  height:125px;
}
#u86 {
  position:absolute;
  left:2px;
  top:54px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u87 {
  position:absolute;
  left:900px;
  top:410px;
  width:153px;
  height:62px;
  font-size:20px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:125px;
}
#u89 {
  position:absolute;
  left:900px;
  top:482px;
  width:153px;
  height:125px;
}
#u90 {
  position:absolute;
  left:2px;
  top:54px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:53px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91 {
  position:absolute;
  left:117px;
  top:202px;
  width:1023px;
  height:53px;
}
#u92 {
  position:absolute;
  left:2px;
  top:18px;
  width:1019px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93 {
  position:absolute;
  left:119px;
  top:213px;
  width:123px;
  height:42px;
}
#u94 {
  position:absolute;
  left:2px;
  top:13px;
  width:119px;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  position:absolute;
  left:252px;
  top:213px;
  width:123px;
  height:42px;
}
#u96 {
  position:absolute;
  left:2px;
  top:13px;
  width:119px;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u97 {
  position:absolute;
  left:385px;
  top:213px;
  width:123px;
  height:42px;
  font-size:14px;
}
#u98 {
  position:absolute;
  left:2px;
  top:13px;
  width:119px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:6px;
}
#u99 {
  position:absolute;
  left:511px;
  top:512px;
  width:31px;
  height:6px;
}
#u100 {
  position:absolute;
  left:2px;
  top:-5px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:6px;
}
#u101 {
  position:absolute;
  left:511px;
  top:721px;
  width:31px;
  height:6px;
}
#u102 {
  position:absolute;
  left:2px;
  top:-5px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:6px;
}
#u103 {
  position:absolute;
  left:274px;
  top:512px;
  width:31px;
  height:6px;
}
#u104 {
  position:absolute;
  left:2px;
  top:-5px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:6px;
}
#u105 {
  position:absolute;
  left:274px;
  top:721px;
  width:31px;
  height:6px;
}
#u106 {
  position:absolute;
  left:2px;
  top:-5px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:6px;
}
#u107 {
  position:absolute;
  left:511px;
  top:306px;
  width:31px;
  height:6px;
}
#u108 {
  position:absolute;
  left:2px;
  top:-5px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:6px;
}
#u109 {
  position:absolute;
  left:766px;
  top:511px;
  width:31px;
  height:6px;
}
#u110 {
  position:absolute;
  left:2px;
  top:-5px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:6px;
}
#u111 {
  position:absolute;
  left:766px;
  top:720px;
  width:31px;
  height:6px;
}
#u112 {
  position:absolute;
  left:2px;
  top:-5px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:6px;
}
#u113 {
  position:absolute;
  left:766px;
  top:305px;
  width:31px;
  height:6px;
}
#u114 {
  position:absolute;
  left:2px;
  top:-5px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:6px;
}
#u115 {
  position:absolute;
  left:1012px;
  top:512px;
  width:31px;
  height:6px;
}
#u116 {
  position:absolute;
  left:2px;
  top:-5px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:6px;
}
#u117 {
  position:absolute;
  left:1012px;
  top:306px;
  width:31px;
  height:6px;
}
#u118 {
  position:absolute;
  left:2px;
  top:-5px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:126px;
}
#u119 {
  position:absolute;
  left:1606px;
  top:686px;
  width:153px;
  height:126px;
}
#u120 {
  position:absolute;
  left:2px;
  top:55px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:112px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u121 {
  position:absolute;
  left:143px;
  top:1160px;
  width:187px;
  height:112px;
  font-size:20px;
}
#u122 {
  position:absolute;
  left:2px;
  top:44px;
  width:183px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:237px;
  top:812px;
  width:0px;
  height:0px;
}
#u123_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:352px;
}
#u123_seg1 {
  position:absolute;
  left:-10px;
  top:335px;
  width:20px;
  height:20px;
}
#u124 {
  position:absolute;
  left:-50px;
  top:166px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:112px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u125 {
  position:absolute;
  left:381px;
  top:1160px;
  width:187px;
  height:112px;
  font-size:20px;
}
#u126 {
  position:absolute;
  left:2px;
  top:44px;
  width:183px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:527px;
  top:727px;
  width:0px;
  height:0px;
}
#u127_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u127_seg1 {
  position:absolute;
  left:-4px;
  top:6px;
  width:77px;
  height:8px;
}
#u127_seg2 {
  position:absolute;
  left:65px;
  top:6px;
  width:8px;
  height:421px;
}
#u127_seg3 {
  position:absolute;
  left:-56px;
  top:419px;
  width:129px;
  height:8px;
}
#u127_seg4 {
  position:absolute;
  left:-56px;
  top:419px;
  width:8px;
  height:14px;
}
#u127_seg5 {
  position:absolute;
  left:-62px;
  top:420px;
  width:20px;
  height:20px;
}
#u128 {
  position:absolute;
  left:19px;
  top:234px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:568px;
  top:1216px;
  width:0px;
  height:0px;
}
#u129_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:413px;
  height:8px;
}
#u129_seg1 {
  position:absolute;
  left:405px;
  top:-609px;
  width:8px;
  height:613px;
}
#u129_seg2 {
  position:absolute;
  left:399px;
  top:-616px;
  width:20px;
  height:20px;
}
#u130 {
  position:absolute;
  left:359px;
  top:-108px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:112px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u131 {
  position:absolute;
  left:1483px;
  top:489px;
  width:187px;
  height:112px;
  font-size:20px;
}
#u132 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:112px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u133 {
  position:absolute;
  left:1483px;
  top:306px;
  width:187px;
  height:112px;
  font-size:20px;
}
#u134 {
  position:absolute;
  left:2px;
  top:44px;
  width:183px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:1140px;
  top:229px;
  width:0px;
  height:0px;
}
#u135_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:214px;
  height:8px;
}
#u135_seg1 {
  position:absolute;
  left:206px;
  top:-4px;
  width:8px;
  height:141px;
}
#u135_seg2 {
  position:absolute;
  left:206px;
  top:129px;
  width:137px;
  height:8px;
}
#u135_seg3 {
  position:absolute;
  left:330px;
  top:123px;
  width:20px;
  height:20px;
}
#u136 {
  position:absolute;
  left:160px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:112px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u137 {
  position:absolute;
  left:1483px;
  top:108px;
  width:187px;
  height:112px;
  font-size:20px;
}
#u138 {
  position:absolute;
  left:2px;
  top:44px;
  width:183px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:1114px;
  top:164px;
  width:0px;
  height:0px;
}
#u139_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:373px;
  height:8px;
}
#u139_seg1 {
  position:absolute;
  left:356px;
  top:-10px;
  width:20px;
  height:20px;
}
#u140 {
  position:absolute;
  left:134px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:112px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u141 {
  position:absolute;
  left:1759px;
  top:108px;
  width:187px;
  height:112px;
  font-size:20px;
}
#u142 {
  position:absolute;
  left:2px;
  top:44px;
  width:183px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:185px;
  top:138px;
  width:0px;
  height:0px;
}
#u143_seg0 {
  position:absolute;
  left:-4px;
  top:-76px;
  width:8px;
  height:76px;
}
#u143_seg1 {
  position:absolute;
  left:-4px;
  top:-76px;
  width:1676px;
  height:8px;
}
#u143_seg2 {
  position:absolute;
  left:1664px;
  top:-76px;
  width:8px;
  height:46px;
}
#u143_seg3 {
  position:absolute;
  left:1658px;
  top:-43px;
  width:20px;
  height:20px;
}
#u144 {
  position:absolute;
  left:769px;
  top:-80px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u145 {
  position:absolute;
  left:518px;
  top:213px;
  width:123px;
  height:42px;
  font-size:28px;
}
#u146 {
  position:absolute;
  left:2px;
  top:4px;
  width:119px;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:126px;
}
#u147 {
  position:absolute;
  left:900px;
  top:482px;
  width:153px;
  height:126px;
}
#u148 {
  position:absolute;
  left:2px;
  top:55px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:1053px;
  top:545px;
  width:0px;
  height:0px;
}
#u149_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:434px;
  height:8px;
}
#u149_seg1 {
  position:absolute;
  left:417px;
  top:-10px;
  width:20px;
  height:20px;
}
#u150 {
  position:absolute;
  left:165px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:27px;
}
#u151 {
  position:absolute;
  left:924px;
  top:511px;
  width:36px;
  height:27px;
}
#u152 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
}
#u153 {
  position:absolute;
  left:924px;
  top:560px;
  width:36px;
  height:32px;
}
#u154 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u155 {
  position:absolute;
  left:993px;
  top:511px;
  width:32px;
  height:27px;
}
#u156 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u157 {
  position:absolute;
  left:998px;
  top:560px;
  width:29px;
  height:32px;
}
#u158 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u159 {
  position:absolute;
  left:900px;
  top:618px;
  width:153px;
  height:62px;
  font-size:20px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
