body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1602px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:1262px;
}
#u956 {
  position:absolute;
  left:120px;
  top:-120px;
  width:1022px;
  height:1262px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u957 {
  position:absolute;
  left:2px;
  top:623px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1029px;
  height:770px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958 {
  position:absolute;
  left:113px;
  top:126px;
  width:1029px;
  height:770px;
}
#u959 {
  position:absolute;
  left:2px;
  top:377px;
  width:1025px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1029px;
  height:75px;
  background:inherit;
  background-color:rgba(105, 147, 223, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u960 {
  position:absolute;
  left:113px;
  top:126px;
  width:1029px;
  height:75px;
}
#u961 {
  position:absolute;
  left:2px;
  top:30px;
  width:1025px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u962 {
  position:absolute;
  left:468px;
  top:142px;
  width:320px;
  height:44px;
}
#u963 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:695px;
  background:inherit;
  background-color:rgba(105, 147, 223, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u964 {
  position:absolute;
  left:113px;
  top:201px;
  width:105px;
  height:695px;
}
#u965 {
  position:absolute;
  left:2px;
  top:340px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:2px;
}
#u966 {
  position:absolute;
  left:498px;
  top:271px;
  width:616px;
  height:1px;
}
#u967 {
  position:absolute;
  left:2px;
  top:-8px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:695px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u968 {
  position:absolute;
  left:218px;
  top:201px;
  width:244px;
  height:695px;
}
#u969 {
  position:absolute;
  left:2px;
  top:340px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u970 {
  position:absolute;
  left:133px;
  top:143px;
  width:41px;
  height:41px;
}
#u971 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6993DF;
}
#u972 {
  position:absolute;
  left:113px;
  top:201px;
  width:105px;
  height:70px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6993DF;
}
#u973 {
  position:absolute;
  left:2px;
  top:23px;
  width:101px;
  word-wrap:break-word;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u974 {
  position:absolute;
  left:113px;
  top:271px;
  width:105px;
  height:70px;
  font-size:20px;
}
#u975 {
  position:absolute;
  left:2px;
  top:23px;
  width:101px;
  word-wrap:break-word;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u976 {
  position:absolute;
  left:113px;
  top:341px;
  width:105px;
  height:70px;
  font-size:20px;
}
#u977 {
  position:absolute;
  left:2px;
  top:23px;
  width:101px;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:2px;
}
#u978 {
  position:absolute;
  left:245px;
  top:271px;
  width:217px;
  height:1px;
}
#u979 {
  position:absolute;
  left:2px;
  top:-8px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:2px;
}
#u980 {
  position:absolute;
  left:258px;
  top:341px;
  width:204px;
  height:1px;
}
#u981 {
  position:absolute;
  left:2px;
  top:-8px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:2px;
}
#u982 {
  position:absolute;
  left:258px;
  top:410px;
  width:204px;
  height:1px;
}
#u983 {
  position:absolute;
  left:2px;
  top:-8px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:2px;
}
#u984 {
  position:absolute;
  left:245px;
  top:478px;
  width:217px;
  height:1px;
}
#u985 {
  position:absolute;
  left:2px;
  top:-8px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:2px;
}
#u986 {
  position:absolute;
  left:245px;
  top:548px;
  width:217px;
  height:1px;
}
#u987 {
  position:absolute;
  left:2px;
  top:-8px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:2px;
}
#u988 {
  position:absolute;
  left:245px;
  top:617px;
  width:217px;
  height:1px;
}
#u989 {
  position:absolute;
  left:2px;
  top:-8px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:2px;
}
#u990 {
  position:absolute;
  left:245px;
  top:687px;
  width:217px;
  height:1px;
}
#u991 {
  position:absolute;
  left:2px;
  top:-8px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:2px;
}
#u992 {
  position:absolute;
  left:245px;
  top:757px;
  width:217px;
  height:1px;
}
#u993 {
  position:absolute;
  left:2px;
  top:-8px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:2px;
}
#u994 {
  position:absolute;
  left:245px;
  top:826px;
  width:217px;
  height:1px;
}
#u995 {
  position:absolute;
  left:2px;
  top:-8px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u996 {
  position:absolute;
  left:284px;
  top:224px;
  width:41px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u998 {
  position:absolute;
  left:416px;
  top:224px;
  width:23px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u999 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1000 {
  position:absolute;
  left:245px;
  top:220px;
  width:35px;
  height:35px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#F2F2F2;
  text-align:center;
}
#u1002 {
  position:absolute;
  left:249px;
  top:325px;
  width:46px;
  height:6px;
  font-size:8px;
  color:#F2F2F2;
  text-align:center;
}
#u1003 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  visibility:hidden;
  white-space:nowrap;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1004 {
  position:absolute;
  left:258px;
  top:289px;
  width:32px;
  height:32px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1006 {
  position:absolute;
  left:300px;
  top:292px;
  width:21px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1008 {
  position:absolute;
  left:300px;
  top:363px;
  width:41px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1010 {
  position:absolute;
  left:258px;
  top:362px;
  width:32px;
  height:32px;
}
#u1011 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1012 {
  position:absolute;
  left:258px;
  top:431px;
  width:32px;
  height:32px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1014 {
  position:absolute;
  left:300px;
  top:433px;
  width:61px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1016 {
  position:absolute;
  left:284px;
  top:498px;
  width:41px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1018 {
  position:absolute;
  left:416px;
  top:484px;
  width:28px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1020 {
  position:absolute;
  left:249px;
  top:500px;
  width:25px;
  height:25px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1022 {
  position:absolute;
  left:283px;
  top:570px;
  width:41px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1024 {
  position:absolute;
  left:248px;
  top:572px;
  width:25px;
  height:25px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1026 {
  position:absolute;
  left:283px;
  top:642px;
  width:41px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1027 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1028 {
  position:absolute;
  left:248px;
  top:644px;
  width:25px;
  height:25px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1030 {
  position:absolute;
  left:282px;
  top:714px;
  width:61px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1031 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1032 {
  position:absolute;
  left:247px;
  top:716px;
  width:25px;
  height:25px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1034 {
  position:absolute;
  left:281px;
  top:782px;
  width:41px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1035 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1036 {
  position:absolute;
  left:246px;
  top:784px;
  width:25px;
  height:25px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1038 {
  position:absolute;
  left:280px;
  top:854px;
  width:41px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1039 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1040 {
  position:absolute;
  left:245px;
  top:856px;
  width:25px;
  height:25px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1042 {
  position:absolute;
  left:416px;
  top:561px;
  width:28px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1044 {
  position:absolute;
  left:416px;
  top:625px;
  width:28px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1045 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1046 {
  position:absolute;
  left:416px;
  top:702px;
  width:28px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1048 {
  position:absolute;
  left:415px;
  top:767px;
  width:28px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1049 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1050 {
  position:absolute;
  left:415px;
  top:844px;
  width:28px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:112px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1052 {
  position:absolute;
  left:367px;
  top:1142px;
  width:187px;
  height:112px;
  font-size:20px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:44px;
  width:183px;
  word-wrap:break-word;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:112px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1054 {
  position:absolute;
  left:72px;
  top:1142px;
  width:187px;
  height:112px;
  font-size:20px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:44px;
  width:183px;
  word-wrap:break-word;
}
#u1056 {
  position:absolute;
  left:166px;
  top:411px;
  width:0px;
  height:0px;
}
#u1056_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:735px;
}
#u1056_seg1 {
  position:absolute;
  left:-10px;
  top:718px;
  width:20px;
  height:20px;
}
#u1057 {
  position:absolute;
  left:-50px;
  top:358px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058 {
  position:absolute;
  left:340px;
  top:896px;
  width:0px;
  height:0px;
}
#u1058_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:238px;
}
#u1058_seg1 {
  position:absolute;
  left:-4px;
  top:230px;
  width:129px;
  height:8px;
}
#u1058_seg2 {
  position:absolute;
  left:117px;
  top:230px;
  width:8px;
  height:16px;
}
#u1058_seg3 {
  position:absolute;
  left:111px;
  top:233px;
  width:20px;
  height:20px;
}
#u1059 {
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:112px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1060 {
  position:absolute;
  left:1415px;
  top:46px;
  width:187px;
  height:112px;
  font-size:20px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:44px;
  width:183px;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:172px;
}
#u1062 {
  position:absolute;
  left:489px;
  top:289px;
  width:622px;
  height:172px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:78px;
  width:618px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:430px;
}
#u1064 {
  position:absolute;
  left:501px;
  top:461px;
  width:613px;
  height:430px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:207px;
  width:609px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1066 {
  position:absolute;
  left:501px;
  top:220px;
  width:42px;
  height:42px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1068 {
  position:absolute;
  left:506px;
  top:225px;
  width:31px;
  height:31px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:112px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1070 {
  position:absolute;
  left:1415px;
  top:319px;
  width:187px;
  height:112px;
  font-size:20px;
}
#u1071 {
  position:absolute;
  left:2px;
  top:44px;
  width:183px;
  word-wrap:break-word;
}
#u1072 {
  position:absolute;
  left:1111px;
  top:375px;
  width:0px;
  height:0px;
}
#u1072_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:308px;
  height:8px;
}
#u1072_seg1 {
  position:absolute;
  left:291px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1073 {
  position:absolute;
  left:102px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:112px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1074 {
  position:absolute;
  left:1415px;
  top:620px;
  width:187px;
  height:112px;
  font-size:20px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:44px;
  width:183px;
  word-wrap:break-word;
}
#u1076 {
  position:absolute;
  left:1114px;
  top:676px;
  width:0px;
  height:0px;
}
#u1076_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:305px;
  height:8px;
}
#u1076_seg1 {
  position:absolute;
  left:288px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1077 {
  position:absolute;
  left:100px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#6993DF;
  text-align:left;
}
#u1078 {
  position:absolute;
  left:934px;
  top:126px;
  width:208px;
  height:75px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#6993DF;
  text-align:left;
}
#u1079 {
  position:absolute;
  left:2px;
  top:21px;
  width:204px;
  word-wrap:break-word;
}
#u1080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FF0000;
}
#u1080 {
  position:absolute;
  left:1099px;
  top:143px;
  width:21px;
  height:42px;
  font-size:36px;
  color:#FF0000;
}
#u1081 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1082 {
  position:absolute;
  left:628px;
  top:142px;
  width:0px;
  height:0px;
}
#u1082_seg0 {
  position:absolute;
  left:-4px;
  top:-44px;
  width:8px;
  height:44px;
}
#u1082_seg1 {
  position:absolute;
  left:-4px;
  top:-44px;
  width:791px;
  height:8px;
}
#u1082_seg2 {
  position:absolute;
  left:774px;
  top:-50px;
  width:20px;
  height:20px;
}
#u1083 {
  position:absolute;
  left:324px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
