body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1561px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:1262px;
}
#u162 {
  position:absolute;
  left:120px;
  top:-120px;
  width:1022px;
  height:1262px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u163 {
  position:absolute;
  left:2px;
  top:623px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1029px;
  height:75px;
  background:inherit;
  background-color:rgba(105, 147, 223, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u164 {
  position:absolute;
  left:113px;
  top:126px;
  width:1029px;
  height:75px;
}
#u165 {
  position:absolute;
  left:2px;
  top:30px;
  width:1025px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u166 {
  position:absolute;
  left:133px;
  top:145px;
  width:36px;
  height:36px;
}
#u167 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(105, 147, 223, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u168 {
  position:absolute;
  left:1035px;
  top:146px;
  width:79px;
  height:36px;
  color:#FFFFFF;
}
#u169 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(105, 147, 223, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u170 {
  position:absolute;
  left:133px;
  top:226px;
  width:149px;
  height:77px;
  font-size:28px;
}
#u171 {
  position:absolute;
  left:2px;
  top:22px;
  width:145px;
  word-wrap:break-word;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(105, 147, 223, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u172 {
  position:absolute;
  left:342px;
  top:226px;
  width:149px;
  height:77px;
  font-size:28px;
}
#u173 {
  position:absolute;
  left:2px;
  top:22px;
  width:145px;
  word-wrap:break-word;
}
#u174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(105, 147, 223, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u174 {
  position:absolute;
  left:553px;
  top:226px;
  width:149px;
  height:77px;
  font-size:28px;
}
#u175 {
  position:absolute;
  left:2px;
  top:22px;
  width:145px;
  word-wrap:break-word;
}
#u176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(105, 147, 223, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u176 {
  position:absolute;
  left:762px;
  top:226px;
  width:149px;
  height:77px;
  font-size:28px;
}
#u177 {
  position:absolute;
  left:2px;
  top:22px;
  width:145px;
  word-wrap:break-word;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(105, 147, 223, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u178 {
  position:absolute;
  left:965px;
  top:226px;
  width:149px;
  height:77px;
  font-size:28px;
}
#u179 {
  position:absolute;
  left:2px;
  top:22px;
  width:145px;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u180 {
  position:absolute;
  left:264px;
  top:210px;
  width:31px;
  height:31px;
  font-size:24px;
  color:#6993DF;
}
#u181 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u182 {
  position:absolute;
  left:474px;
  top:210px;
  width:31px;
  height:31px;
  font-size:24px;
  color:#6993DF;
}
#u183 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u184 {
  position:absolute;
  left:686px;
  top:210px;
  width:31px;
  height:31px;
  font-size:24px;
  color:#6993DF;
}
#u185 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u186 {
  position:absolute;
  left:894px;
  top:210px;
  width:31px;
  height:31px;
  font-size:24px;
  color:#6993DF;
}
#u187 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u188 {
  position:absolute;
  left:1097px;
  top:210px;
  width:31px;
  height:31px;
  font-size:24px;
  color:#6993DF;
}
#u189 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(105, 147, 223, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u190 {
  position:absolute;
  left:1035px;
  top:71px;
  width:79px;
  height:36px;
  color:#FFFFFF;
}
#u191 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:1075px;
  top:107px;
  width:0px;
  height:0px;
}
#u192_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u192_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u192_seg2 {
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u193 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(105, 147, 223, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u194 {
  position:absolute;
  left:133px;
  top:363px;
  width:149px;
  height:77px;
  font-size:28px;
}
#u195 {
  position:absolute;
  left:2px;
  top:22px;
  width:145px;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u196 {
  position:absolute;
  left:265px;
  top:347px;
  width:31px;
  height:31px;
  font-size:24px;
  color:#6993DF;
}
#u197 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:112px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u198 {
  position:absolute;
  left:1374px;
  top:108px;
  width:187px;
  height:112px;
  font-size:20px;
}
#u199 {
  position:absolute;
  left:2px;
  top:44px;
  width:183px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:1114px;
  top:89px;
  width:0px;
  height:0px;
}
#u200_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:250px;
  height:8px;
}
#u200_seg1 {
  position:absolute;
  left:242px;
  top:-4px;
  width:8px;
  height:83px;
}
#u200_seg2 {
  position:absolute;
  left:242px;
  top:71px;
  width:18px;
  height:8px;
}
#u200_seg3 {
  position:absolute;
  left:247px;
  top:65px;
  width:20px;
  height:20px;
}
#u201 {
  position:absolute;
  left:118px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:1114px;
  top:164px;
  width:0px;
  height:0px;
}
#u202_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:264px;
  height:8px;
}
#u202_seg1 {
  position:absolute;
  left:247px;
  top:-10px;
  width:20px;
  height:20px;
}
#u203 {
  position:absolute;
  left:80px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:112px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u204 {
  position:absolute;
  left:1374px;
  top:320px;
  width:187px;
  height:112px;
  font-size:20px;
}
#u205 {
  position:absolute;
  left:2px;
  top:44px;
  width:183px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:1128px;
  top:226px;
  width:0px;
  height:0px;
}
#u206_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:236px;
  height:8px;
}
#u206_seg1 {
  position:absolute;
  left:228px;
  top:-4px;
  width:8px;
  height:158px;
}
#u206_seg2 {
  position:absolute;
  left:228px;
  top:146px;
  width:18px;
  height:8px;
}
#u206_seg3 {
  position:absolute;
  left:233px;
  top:140px;
  width:20px;
  height:20px;
}
#u207 {
  position:absolute;
  left:148px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
