body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1262px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:1262px;
}
#u630 {
  position:absolute;
  left:120px;
  top:-120px;
  width:1022px;
  height:1262px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u631 {
  position:absolute;
  left:2px;
  top:623px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:777px;
  background:inherit;
  background-color:rgba(226, 246, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u632 {
  position:absolute;
  left:116px;
  top:111px;
  width:1022px;
  height:777px;
}
#u633 {
  position:absolute;
  left:2px;
  top:380px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u634 {
  position:absolute;
  left:133px;
  top:145px;
  width:50px;
  height:50px;
}
#u635 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:71px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u636 {
  position:absolute;
  left:116px;
  top:817px;
  width:1022px;
  height:71px;
}
#u637 {
  position:absolute;
  left:2px;
  top:28px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u638 {
  position:absolute;
  left:428px;
  top:833px;
  width:140px;
  height:40px;
}
#u639 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u640 {
  position:absolute;
  left:653px;
  top:833px;
  width:140px;
  height:40px;
}
#u641 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u642 {
  position:absolute;
  left:1060px;
  top:145px;
  width:50px;
  height:50px;
}
#u643 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u644 {
  position:absolute;
  left:1060px;
  top:473px;
  width:50px;
  height:50px;
}
#u645 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u646 {
  position:absolute;
  left:133px;
  top:743px;
  width:202px;
  height:74px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:112px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u648 {
  position:absolute;
  left:492px;
  top:1100px;
  width:187px;
  height:112px;
  font-size:20px;
}
#u649 {
  position:absolute;
  left:2px;
  top:44px;
  width:183px;
  word-wrap:break-word;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u650 {
  position:absolute;
  left:561px;
  top:743px;
  width:48px;
  height:48px;
  font-size:36px;
  color:#169BD5;
}
#u651 {
  position:absolute;
  left:2px;
  top:3px;
  width:44px;
  word-wrap:break-word;
}
#u652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:480px;
}
#u652 {
  position:absolute;
  left:261px;
  top:206px;
  width:734px;
  height:480px;
}
#u653 {
  position:absolute;
  left:2px;
  top:232px;
  width:730px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654 {
  position:absolute;
  left:585px;
  top:791px;
  width:0px;
  height:0px;
}
#u654_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u654_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:9px;
  height:8px;
}
#u654_seg2 {
  position:absolute;
  left:-3px;
  top:-4px;
  width:8px;
  height:313px;
}
#u654_seg3 {
  position:absolute;
  left:-9px;
  top:296px;
  width:20px;
  height:20px;
}
#u655 {
  position:absolute;
  left:-49px;
  top:146px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
